h1 {
  color: #e53170;
}
img {
  width: 100px;
}
a {
  color: rgb(97, 180, 228);
}

.card {
  background-color: rgb(16, 15, 15);
  color: whitesmoke;
}

.card .member-name {
  font-weight: bold;
  font-size: 1.2rem;
}

.card .member-role {
  font-size: 0.8rem;
}

.card .member-email {
  font-size: 0.8rem;
  font-weight: bold;
}
